<div class="col-xs-12 clearfix">
    <div class="row">
        <div class="col-xs-6">
            <h2>Contacts</h2>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-success" style="margin-top: 20px;">New Contact</button>
        </div>
    </div>
    <hr>
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
            <div class="pull-left col-xs-12">
                <h4 class="col-xs-12">
                    {{ contact.name }}
                </h4>
                <hr>
                <hr>
            </div>
            <span class="pull-right">
                <img [src]="contact.imagePath" alt="{{contact.name}}" class="img-responsive img-rounded"
                    style="max-height: 100px">
            </span>
        </a>
    </div>
</div>