<!-- contact-list.component.html -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="panel-title col-sm-10">Contacts</h3>
                    <a class="btn btn-success col-sm-2" [routerLink]="['new']">New</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="list-group" cdkDropList id="contactsList" [cdkDropListData]="contacts"
                    cdkDropListConnectedTo="groupContactsList" cdkDropListSortingDisabled="true">

                    <div *ngFor="let contactEl of contacts; let i = index" cdkDrag [cdkDragData]="contactEl"
                        [cdkDragDisabled]="contactEl.group !== null" class="draggable-contact" style="cursor: move;">
                        <app-contact-item [contact]="contactEl"></app-contact-item>

                        <!-- Add drag preview -->
                        <div *cdkDragPreview class="drag-preview"
                            style="background: white; border: 1px solid #ccc; border-radius: 4px; padding: 10px; box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);">
                            {{ contactEl.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>