<!-- contact-list.component.html -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <span class="title pad-left-right">Contacts</span>
                            </div>
                            <div class="row">
                                <div class="input-group pull-left pad-left-right col-xs-7">
                                    <input type="text" placeholder="Search" #searchBox
                                        (keyup)="search(searchBox.value)">
                                    <div class="glyphicon glyphicon-search input-group-addon"
                                        (click)="search(searchBox.value)"></div>
                                </div>
                                <div class="pull-right pad-left-right">
                                    <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="list-group" cdkDropList id="contactsList" [cdkDropListData]="contacts"
                    cdkDropListConnectedTo="groupContactsList" cdkDropListSortingDisabled="true">

                    <div *ngFor="let contactEl of contacts | contactsFilter:term; let i = index" cdkDrag
                        [cdkDragData]="contactEl" [cdkDragDisabled]="contactEl.group !== null" class="draggable-contact"
                        style="cursor: move;">
                        <app-contact-item [contact]="contactEl"></app-contact-item>

                        <!-- Add drag preview -->
                        <div *cdkDragPreview class="drag-preview"
                            style="background: white; border: 1px solid #ccc; border-radius: 4px; padding: 10px; box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);">
                            {{ contactEl.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>