<a href="#" class="list-group-item clearfix" style="margin-bottom: 5px;">
    <div class="row">
        <div class="col-xs-8">
            <h4 class="list-group-item-heading">{{ contact?.name }}</h4>
        </div>
        <div class="col-xs-4">
            <div class="pull-right">
                <img [src]="contact?.imagePath" alt="{{contact?.name}}" class="img-responsive img-rounded"
                    style="max-height: 80px; max-width: 100%;">
            </div>
        </div>
    </div>
</a>