<div class="row">
    <div class="col-xs-12">
        <a class="list-group-item clearfix">
            <div class="col-xs-12">
                <h4 class="">{{ contact?.name }}</h4>
            </div>
            <hr>
            <hr>

            <!-- Always show the main contact's image and buttons -->
            <div class="row">
                <div class="col-xs-8">
                    <img *ngIf="contact?.imageUrl" [src]="contact?.imageUrl" alt="{{contact?.name}}"
                        class="img-responsive" style="max-height: 100px">
                    <div *ngIf="!contact?.imageUrl" class="text-center">
                        <i class="fa fa-user" style="font-size: 60px; color: #666;"></i>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <button [routerLink]="['/contacts', contact?.id, 'edit']" class="btn btn-primary">Edit</button>
                    <button (click)="onDelete()" class="btn btn-danger">Delete</button>
                </div>
            </div>

            <!-- Show group members if contact has group -->
            <div *ngIf="contact?.group && contact?.group!.length > 0" class="row" style="margin-top: 20px;">
                <div class="col-xs-12">
                    <h5>Group Members:</h5>
                    <div class="row" style="margin-bottom: 10px;" *ngFor="let member of contact?.group!">
                        <div class="col-xs-3">
                            <img [src]="member.imageUrl" alt="{{member.name}}" class="img-responsive img-rounded"
                                style="max-height: 50px; max-width: 50px;">
                        </div>
                        <div class="col-xs-9">
                            <strong>{{ member.name }}</strong><br>
                            <small>{{ member.email }}</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Always show contact info -->
            <div class="col-xs-12 list-group-item-text" style="margin-top: 15px;">
                <span class="col-xs-12">Email: {{ contact?.email }}</span>
                <span class="col-xs-12">Phone: {{ contact?.phone }}</span>
                <span *ngIf="contact?.group && contact?.group != null" class="col-xs-12">
                    Group Size: {{ contact?.group!.length }} members
                </span>
            </div>
        </a>
    </div>
</div>