<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="col-xs-12">
                <h4 class="">{{ contact?.name }}</h4>
            </div>
            <hr>
            <hr>
            <div class="row">
                <div class="col-xs-8">
                    <img [src]="contact?.imagePath" alt="{{contact?.name}}" class="img-responsive"
                        style="max-height: 100px">
                </div>
                <div class="col-xs-4 text-right">
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="col-xs-12 list-group-item-text" style="margin-top: 15px;">
                <span class="col-xs-12">Email: {{ contact?.email }}</span>
                <span class="col-xs-12">Phone: {{ contact?.phone }}</span>
            </div>
        </a>
    </div>
</div>